<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blogs</title>
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <style>
      body {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url("/images/photo2.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
      .jumbotron {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <div class="jumbotron">
        <h1>All about user blog</h1>
        <p class="lead">Check out our user Blogs below!</p>
        <% if(typeof userprofileID !== "undefined"){ %>
          <h1>Updating the Profile: </h1>
        <form action="/Profileform/<%= userprofileID._id %>" method="post">
          <label> Bio : </label>
          <input
            name="bio"
            class="form-control"
            type="text"
            placeholder="bio"
            aria-label="bio"
          />
          <label>workexperience : </label>
          <input
            name="workexperience"
            class="form-control"
            type="workexperience"
            placeholder="workexperience"
            aria-label="workexperience"
          />
          <% if (typeof userprofileID !== "undefined") { %>
            <label>Profile id</label>
            <br/>
          <input
          name="userprofileID"
          class="form-control"
          type="text"
          placeholder="userprofileID"
          aria-label="userprofileID"
          value="<%=userprofileID%>"
        />
        <% } else { %>
         <h2>New Profile update</h2>
        <% } %>
          <br />
          <button class="btn btn-danger"> Update </button>
        </form> 
        <% } else { %>
          <form action="/Createnewprofile" method="post">
            <label> Bio : </label>
            <input
              name="bio"
              class="form-control"
              type="text"
              placeholder="bio"
              aria-label="bio"
            />
            <label>workexperience : </label>
            <input
              name="workexperience"
              class="form-control"
              type="workexperience"
              placeholder="workexperience"
              aria-label="workexperience"
            />
            <% if (typeof userprofileID !== "undefined") { %>
              <label>Profile id</label>
              <br/>
            <input
            name="userprofileID"
            class="form-control"
            type="text"
            placeholder="userprofileID"
            aria-label="userprofileID"
            value="<%=userprofileID%>"
          />
          <% } else { %>
           <h2>New Profile</h2>
          <% } %>
            <br />
            <button class="btn btn-danger">submit new value</button>
          </form> 

          <% }  %>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
            <!-- loop over blog posts and render them -->
            LIST_OF_POSTS
          </div>
        </div>
      </div>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
