<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Node.js Blog</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <style>
      body {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url("/images/photo2.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
      .jumbotron {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <div class="jumbotron">
        <h1>All about Node and blogs</h1>
        <p class="lead">Check out our articles below!</p>
        <p>Welcome on <%=res1 %></p>
        <br />

        <P>
          The The Title is: <%=titleParam %> <br />
          The Body is: <%=bodyParam %> <br />
          The selectedTags is: <%=selectedTags %> <br />
        </P>
        <br />
     
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
            <!-- loop over blog posts and render them -->
            LIST_OF_POSTS
          </div>
        </div>
      </div>
      <%- include('partials/footer') %>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
